<template name="accountProfile">

  <div class="flex flex-column flex-align-center flex-2x container-lg">

    <div class="flex-item">
      <div class="panel panel-lg">

        <div class="panel-heading  panel-title-center">

            <div class="profile-image">
              {{!--> avatar user=currentUser class="circular-icon" size="large" shape="circle"--}}
              <img class="circular-icon" src="{{getGravatar currentUser 80}}" style="width: 80px;border-radius: 50%;" />
              <span class="profile-image-display-name">{{displayName}}</span>
            </div>

        </div>
        <div class="panel-content">
          {{#if userHasPassword}}
            {{> loginFormChangePassword}}
          {{/if}}
        </div>

      </div>
    </div>

        <div class="flex-item">
          {{#if shopDetails}}
          {{> vendorForm}}
          {{else}}
          {{> upgradeToVendor}}
          {{/if}}
        </div>


    <div class="flex-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" data-i18n="accountsUI.yourOrders">Your Orders</h3>
        </div>

        <div class="panel-content">
          {{> dashboardOrdersList data=userOrders}}
        </div>
      </div>
    </div>


    <div class="flex-item">
      {{> addressBookPanel}}
    </div>

  </div>

</template>

<template name="vendorForm">
  <!-- vendor form -->
{{#with shopDetails}}
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title" data-i18n="accountsUI.vendorDetails">Vendor Details</h3>
             </div>

             <div class="panel-content">
               <div class="vendor-form">
           <div class="row form-group col-md-12">
             <label class="control-label">Shop Name</label>
             <input disabled="true" class="form-control shop-name" type="text" pattern="\w{20}" value="{{shopName}}" >
             {{#if hasError messages.errors.shopName}}
               <span class="help-block">
                 {{i18n messages.errors.shopName.i18nKeyReason messages.errors.shopName.reason}}
               </span>
             {{/if}}
           </div>
           <div class="row form-group col-md-12">
             <label class="control-label">Shop Address</label>
             <input class="form-control shop-address" type="text" value="{{shopAddress}}" pattern="\w{250}">
             {{#if hasError messages.errors.shopAddress}}
               <span class="help-block">
                 {{i18n messages.errors.shopAddress.i18nKeyReason messages.errors.shopAddress.reason}}
               </span>
             {{/if}}
           </div>
           <div class="row form-group col-md-12">
             <label class ="control-label">Phone</label>
             <input class="form-control shop-phone" value="{{shopPhone}}" type="tel">
             {{#if hasError messages.errors.shopPhone}}
               <span class="help-block">
                 {{i18n messages.errors.shopPhone.i18nKeyReason messages.errors.shopPhone.reason}}
               </span>
             {{/if}}
           </div>
           <div class="form-group">
       <button class="btn btn-primary action--submit update-vendor" type="Submit" data-i18n="accountsUI.updatePasswordAndContinue" data-event-category="accounts" data-event-action="update-vendor">Update and continue</button>
     </div>
         </div>
       </div>
     </div>
     {{/with}}
     <!-- end of vendor form -->
</template>


<template name="upgradeToVendor">
  <!-- vendor form -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" data-i18n="accountsUI.vendorDetails">Upgrade</h3>
      </div>

      <div class="panel-content">



      <div id="upgrade-form" class="vendor-form upgrade-form-visible">
  <div class="row form-group col-md-12">
    <label class="control-label">Shop Name</label>
    <input class="form-control shop-name" type="text" pattern="\w{20}" value="{{shopName}}" >
    {{#if hasError messages.errors.shopName}}
      <span class="help-block">
        {{i18n messages.errors.shopName.i18nKeyReason messages.errors.shopName.reason}}
      </span>
    {{/if}}
  </div>
  <div class="row form-group col-md-12">
    <label class="control-label">Shop Address</label>
    <input class="form-control shop-address" type="text" value="{{shopAddress}}" pattern="\w{250}">
    {{#if hasError messages.errors.shopAddress}}
      <span class="help-block">
        {{i18n messages.errors.shopAddress.i18nKeyReason messages.errors.shopAddress.reason}}
      </span>
    {{/if}}
  </div>
  <div class="row form-group col-md-12">
    <label class ="control-label">Phone</label>
    <input class="form-control shop-phone" value="{{shopPhone}}" type="tel">
    {{#if hasError messages.errors.shopPhone}}
      <span class="help-block">
        {{i18n messages.errors.shopPhone.i18nKeyReason messages.errors.shopPhone.reason}}
      </span>
    {{/if}}
  </div>
  <div class="form-group">
<button class="btn btn-primary action--submit upgrade-vendor" type="Submit" data-i18n="accountsUI.Upgrade" data-event-category="accounts" data-event-action="upgrade-vendor">Upgrade</button>

</div>
</div>
<button class="btn btn-primary action--submit upgrade-toggle" data-i18n="accountsUI.upgradeToVendor" data-event-category="accounts" data-event-action="upgrade-shop">Upgrade To Vendor</button>
    </div>
  </div>
     <!-- end of vendor form -->
</template>
